{% extends "layout.html" %} {% block content %}

<div class="bgimg-3 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Available Live Chats</b>
      </span>
    </h1>
  </div>
</div>




<div id="chatbox" class="w3-container w3-padding-64 w3-threequarter w3-border" style="height:90vh; overflow:scroll">
  <h1 id="currentChat">
    {% if currentChat.name %} 
    {{currentChat.name}}
    {% else %} 
    Please Select Available Chat 
    {% endif %}
  </h1>

  <div class="w3-container" style="position:fixed;bottom:0; width:100vh" >
      <form id='form'>
        <input id="message" type="text" name="message" placeholder="type your message here" style="height: 50px; width:90%; background-color:black">
        <input type="submit" value="Submit">
      </form> 
    </div>

</div>

<div class="w3-container w3-quarter w3-padding-64 w3-text-black">
  <h2>Chatboxes by Client SessionID</h2>
  <ul id="chatboxes" class="w3-ul">
    {% for chat in chats %}
    <li id="joinRoom" style="cursor:pointer" >{{chat.name}}</li>
    {% endfor %}
  </ul>

  
</div>




{% endblock %}