{% extends "layout.html" %} {% block content %}
<div class="bgimg-3 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Darapladib</b>
      </span>
    </h1>
  </div>
</div>

<div class="w3-container w3-content w3-center w3-padding-64" >
    <h3>
        <ul class="w3-ul">
            <li>Diabetic Macular Edema (DME) is an accumulation of fluid in the macula—part of the retina that controls our most detailed vision abilities—due to leaking blood vessels.</li>
            <li>With the rapid increase of the Diabetic population, DME affects over 1.5 million people and current treatments are insufficient.</li>
            <li>The current treatments can be dangerous and invasive, and mainly treat the symptoms,
                however, Darapladib is a non-invasive drug that treats DME at the source</li>
          </ul>
        </h3>

    <p class="w3-justify"></p>
  </div>

<div class="w3-container w3-teal w3-margin-bottom">
  <h1>Phase</h1>
</div>
<p class="w3-wide">
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">PHASE 3</div>
  </div>

  <div class="container text-center">
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img src="/images/efficacy.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <img src="/images/safety.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <img src="/images/availability.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
      </div>
    </div>
  </div>
  <br>
  <div class="w3-row-padding ">
    <div class="w3-half">
      <h2>Current Treatments</h2>
      <table class="w3-table w3-striped w3-bordered w3-border">
        <thead class="w3-teal">
          <th style="width:30%">Laser photocoagulation:</th>
        </thead>
        <tr>
          <td>Symptomatic treatment</td>
        </tr>
        <tr>
          <td>Only 50% reduction in vision loss</td>
        </tr>
        <tr>
          <td>5% chance of serious vision damage in 3 years</td>
        </tr>
      </table>
      <table class="w3-table w3-striped w3-bordered w3-border">
        <thead class="w3-teal">
          <th style="width:30%">Anti-VEGF biologics::</th>
        </thead>
        <tr>
          <td>Invasive monthly injection</td>
        </tr>
        <tr>
          <td>Only 50% of patients respond</td>
        </tr>
        <tr>
          <td>Grows refractory after repeated use</td>
        </tr>
      </table>
    </div>
    <div class="w3-half">
      <h2>Darapladib</h2>
      <table class="w3-table w3-striped w3-bordered w3-border">
        <thead class="w3-teal">
          <th style="width:30%">Safe and Non-invasive</th>
        </thead>
        <tr>
          <td>Once Daily Oral Supplement</td>
        </tr>
        <tr>
          <td>Met Safety Goals in trial involving 14000 patients</td>
        </tr>
      </table>
      <table class="w3-table w3-striped w3-bordered w3-border">
        <thead class="w3-teal">
          <th style="width:30%">Source Treatment</th>
        </thead>
        <tr>
          <td>Inhibits enzyme Lp-PLA2 that causes the retinal capillaries to become permeable leading to edema.</td>
        </tr>
        <tr>
          <td>Lp-PLA2 is upstream of VEGF in DME (Diabetic Macular Edema) pathology, thus treating source, rather than symptom,
            of inflammation in DME</td>
        </tr>
      </table>
    </div>
  </div>  

<div class="w3-row-padding ">
    <div class=w3-half>
      <img src="/images/trials.png" style="height:750px; width:100%">
    </div>
    <div class="w3-half">
      <h1>Darapladib Clinical Trial</h1>

      <ul class="w3-ul" style="font-size:25px">
        <li>12-week placebo-controlled, randomized, multi-center clinical trial (Phase 2)</li>
        <li>Once-daily, oral darapladib improves visual acuity score by 5.2 letters
            in subgroup (baseline vision < 20/40) excluding patients with high baseline visual acuity</li>
        <li>Phase-3 Lucentis trial enrolled patients
            with baseline vision < 20/40</li>
      </ul>
    </div>
  </div>
</div>


  {% endblock %}