{% extends "layout.html" %} {% block content %}
<div class="bgimg-3 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Darapladib</b>
      </span>
    </h1>
  </div>
</div>

<!-- The App Section -->
<!-- <div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo">
        <b>Source Treatment for DME</b>
      </h1>
      <h1 class="w3-xxxlarge w3-text-black">
        <b>Lipoprotein-associated Phospholipase A inhibition</b>
      </h1>
      <h5>
        <ul>
          <li>Darapladib inhibits Lp-PLA2, an enzyme that causes the retinal capillaries to become permeable leading to edema</li>
          <li>Lp-PLA2 is upstream of VEGF in DME pathology, thus treating source, not symptom, of inflammation in DME</li>
        </ul>
      </h5>
    </div>
    <div class="w3-col l4 m6">
      <img src="/images/dara-eye.png" class="w3-image w3-right w3-hide-small" width="531" height="771">
    </div>
  </div>
</div> -->

<div class="w3-content w3-container w3-padding-64" id="pipeline">
    <div class="w3-row w3-border">
      <div class="w3-col m6 w3-center w3-padding-large">
        <p>
          <b>
            <i class="fa fa-user w3-margin-right"></i>
          </b>
        </p>
        <br>
        <img src="/images/dara-eye.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo" width="500" height="333">
      </div>
  
      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <h3>How it works:</h3>
        <p>Inhibits Lp-PLA2, an enzyme that causes the retinal capillaries to become permeable leading to edema.
          <br> Lp-PLA2 is upstream of VEGF in DME (Diabetic Macular Edema) pathology, thus treating source, not symptom, of inflammation in DME</p>
      </div>
  
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <h3>Used to Treat: Diabetic Macular Edema</h3>
          <p>Diabetic Macular Edema (DME) is an accumulation of fluid in the macula—part of the retina that controls our most detailed vision abilities—due to leaking blood vessels.
            </p>
        </div>
    </div>
    <p class="w3-wide">
      <i class="fa fa-camera"></i>Progress</p>
  
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">PHASE 3</div>
    </div>
  
    <div class="container text-center">
      <br>
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/efficacy.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <img src="/images/safety.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <img src="/images/availability.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
        </div>
      </div>
    </div>
    <br>  
  </div>

{% endblock %}