{% extends "layout.html" %} {% block content %}
<div class="bgimg-3 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Darapledib</b>
      </span>
    </h1>
  </div>
</div>

<!-- The App Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo">
        <b>Source Treatment for DME</b>
      </h1>
      <h1 class="w3-xxxlarge w3-text-black">
        <b>Lipoprotein-associated Phospholipase A inhibition</b>
      </h1>
      <h5>
        <ul>
          <li>Darapladib inhibits Lp-PLA2, an enzyme that causes the retinal capillaries to become permeable leading to edema</li>
          <li>Lp-PLA2 is upstream of VEGF in DME pathology, thus treating source, not symptom, of inflammation in DME</li>
        </ul>
      </h5>
    </div>
    <div class="w3-col l4 m6">
      <img src="/images/dara-eye.png" class="w3-image w3-right w3-hide-small" width="531" height="771">
    </div>
  </div>
</div>

{% endblock %}