{% extends "layout.html" %} {% block content %}
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      {% if user %}
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Welcome {{user.email}}</b>
      </span>
      {% endif %}
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Ocuvant</b>
      </span>
      <span class="w3-hide-small w3-text-light-grey">Sciences</span>
    </h1>
  </div>
</div>

<!-- About Section -->
<div class="w3-row w3-padding-64">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/images/eye-health.jpeg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Us</h1><br>
      <h5 class="w3-center">Founded in 2017</h5>
      <p class="w3-large">Founded as a subsidiary of <span class="w3-tag w3-light-grey">Roivant Sciences</span>, we are commited to Ocular Health and to the introduction of new drugs and treatments for emerging and prevalent ocular conditions.</p>
    </div>
  </div>
  
  <hr>

  <div class="bgimg-2 w3-display-container w3-opacity-min">
      <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide"></span>
      </div>
      <div class="w3-content w3-container w3-padding-64 w3-text-black" id="pipeline">
          <h1 class="w3-center" style="padding:35px">
              <span class="w3-padding w3-black w3-opacity-min">
                  <b>Pipeline</b>
                </span>
          </h1>
        
          <div class="w3-row w3-border w3-white">
            <a href="/darapladib">
              <h2>Lead Drug: Darapladib</h2>
            </a>
        
            <div class="w3-col m6 w3-center w3-padding-large">
              <p>
                <b>
                  <i class="fa fa-user w3-margin-right"></i>
                </b>
              </p>
              <br>
              <img src="/images/dara.svg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo" width="500" height="333">
            </div>
        
            <!-- Hide this text on small devices -->
            <div class="w3-col m6 w3-hide-small w3-padding-large">
                <h3>Used to Treat: Diabetic Macular Edema</h3>
                <ul class="w3-ul">
                  <li>Diabetic Macular Edema (DME) is an accumulation of fluid in the macula—part of the retina that controls our most detailed vision abilities—due to leaking blood vessels.</li>
                  <li>With the rapid increase of the Diabetic population, DME affects over 1.5 million people and current treatments are insufficient.</li>
                  <li>The current treatments can be dangerous and invasive, and mainly treat the symptoms,
                      however, Darapladib is a non-invasive drug that treats DME at the source</li>
                </ul>
                </div>
            <div class="w3-col m6 w3-hide-small w3-padding-large">
                <div class="w3-col m8 s12">
                    <a href="/darapladib"> <p><button class="w3-button w3-padding-large w3-white w3-border"><b>LEARN MORE »</b></button></p></a>
                  </div>
            </div>
            
          </div>
          <p class="w3-wide w3-padding-32 w3-text-white">
            <i class="fa fa-camera"></i>Progress</p>
        
          <div class="w3-light-grey">
            <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">PHASE 3</div>
          </div>
        
          <div class="container text-center">
            <br>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/efficacy.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
              </div>
              <div class="col-sm-3">
                <img src="/images/safety.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
              </div>
              <div class="col-sm-3">
                <img src="/images/availability.png" class="img-responsive" style="width:100%; border-radius:100%" alt="Image">
              </div>
            </div>
          </div>
          <br>
        </div>

    </div>



<div class="w3-container w3-padding-32">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Our Team</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="w3-row-padding w3-grayscale" id="about">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="/images/vivek.jpg" alt="John" style="width:100%">
    <h3>John Doe</h3>
    <p class="w3-opacity">CEO & Founder</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p>
      <button class="w3-button w3-light-grey w3-block">Contact</button>
    </p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="/images/dan.jpg" alt="Jane" style="width:100%">
    <h3>Jane Doe</h3>
    <p class="w3-opacity">Architect</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p>
      <button class="w3-button w3-light-grey w3-block">Contact</button>
    </p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="/images/mayukh.jpg" alt="Mike" style="width:100%">
    <h3>Mike Ross</h3>
    <p class="w3-opacity">Architect</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p>
      <button class="w3-button w3-light-grey w3-block">Contact</button>
    </p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="/images/Bill.jpg" alt="Dan" style="width:100%">
    <h3>Dan Star</h3>
    <p class="w3-opacity">Architect</p>
    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
    <p>
      <button class="w3-button w3-light-grey w3-block">Contact</button>
    </p>
  </div>
</div>



{% endblock %}