{% extends "layout.html" %} {% block content %}
<div class="bgimg-2 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Diabetic Macular Edema</b>
      </span>
      <span class="w3-hide-small w3-text-light-grey">DME</span>
    </h1>
  </div>
</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>What is Diabetic Macular Edema</h1>
        <h4 class="w3-padding-32">Diabetic Macular Edema (DME) is an accumulation of fluid in the macula—part of the retina that controls our most detailed
            vision abilities—due to leaking blood vessels. </h4>
  
        <p class="w3-text-grey">
          In order to develop DME, you must first have diabetic retinopathy. Diabetic retinopathy is a disease that damages the blood vessels in the retina, resulting in vision impairment. Left
          untreated, these blood vessels begin to build up pressure in the eye and leak fluid, causing DME. DME usually takes
          on two forms:
          <ul>
            <li><strong>Focal DME: </strong>which occurs because of abnormalities in the blood vessels in the eye.</li>
            <li><strong>Diffuse DME: </strong>which occurs because of widening/swelling retinal capillaries (very thin blood vessels).</li>
          </ul>
        </p>

        <h4>Symptoms</h4>
        <p class="w3-text-grey">
          <ul>
            <li>blurry vision</li>
            <li>floaters</li>
            <li>double vision</li>
          </ul>
          <strong>Eventually blindness can occur if it goes untreated.</strong>

      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="w3-padding-64 w3-margin-right">
        <img src="images/diabetes-increase.png" class="w3-image">
      </i>
      </div>
  
      <div class="w3-twothird">
        <h1>DME Statistics</h1>
        <h4 class="w3-padding-32">Diabetic Retinopathy and DME are common problems for diabetics. Roughly 8% of the U.S. population is diabetic, and about 28% of those diabetics have eye trouble because of it, and 4% have DME</h4>

        <h5>Rapid increase in Diabetics over 30 years</h5>
      </div>
    </div>
  </div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Treatments for DME</h1>
      <h4 class="w3-padding-32">The treatments for focal and diffuse DME differ, but they both involve laser procedures. Most doctors use focal laser treatment to treat focal DME and grid laser treatment to treat diffuse DME. The goal of both kinds of procedures is to stop the leakage in the macula.
        <h5>However most treatments are insufficient</h5>
      </h4>

      <h5>Laser photocoagulation</h5>
      <p class="w3-text-grey">
          <ul>
              <li>Symptomatic treatment</li>
              <li>Only 50% reduction in vision loss</li>
              <li>5% chance of serious vision damage in 3 years</li>
            </ul>
      </p>

      <h5>Anti-VEGF biologics</h5>
      <p class="w3-text-grey">
          <ul>
              <li>Invasive monthly injection</li>
              <li>Only 50% of patients respond</li>
              <li>Grows refractory after repeated use</li>
            </ul>
      </p>
    </div>

    <div class="w3-third w3-center w3-border">
      <a href="/#pipeline" class="fa fa-anchor w3-padding-64 w3-xxlarge">Learn More about Darapladib</i>
    </div>
  </div>
</div>




{% endblock %}