{% extends "layout.html" %} {% block content %}
<div class="bgimg-3 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>Our Partners</b>
      </span>
    </h1>
  </div>
</div>

<div class="container text-center">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/partner 1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 1</p>
    </div>
    <div class="col-sm-4">
      <img src="/images/partner2.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 2</p>
    </div>
    <div class="col-sm-4">
      <img src="/images/partner3.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 3</p>
    </div>
  </div>
</div>
<br> {% endblock %}